# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.rsuser

# Build results
bin/
obj/
[Bb]uild/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
publish/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
artifacts/

# NuGet packages
packages/
*.nupkg
project.lock.json
project.fragment.lock.json

# Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage

# Rider
.idea/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac
.DS_Store
